@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
   height: 100%;
}
body{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "Mozilla Headline";
   background-color: azure;
}
.corpo{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 80px;
}
.enunciado{
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 100%;
   background-color: rgb(231, 231, 230);
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0px 0px 2px 2px rgb(146, 146, 201);
}
.formulario{
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 100%;
   gap: 20px;
   padding: 20px;
}
.formulario-texto{
   background-color: rgb(231, 231, 230);
   border-radius: 10px;
   padding: 25px;
   font-size: 18px;
   line-height: 2.5;
   text-align: center;
   box-shadow: 0px 0px 2px 2px rgb(146, 146, 201);
}
.formulario-resposta{
   background-color: rgb(231, 231, 230);
   border-radius: 10px;
   padding: 25px;
   font-size: 18px;
   text-align: center;
   box-shadow: 0px 0px 2px 2px rgb(146, 146, 201);
}
header{
   margin-bottom: auto;
   background-color: rgb(135, 221, 222);
   text-align: center;
   border-radius: 10px;
}
footer{
   margin-top: auto;
   background-color: rgb(135, 221, 222);
   text-align: center;
   border-radius: 10px;
}
.alinha{
   display: inline;
   text-align: right;
   width: 150px;
}
legend{
   font-size: 20px;
   font-weight: bold;
}
.button{
   font-size: 22px;
   margin: 3%;
}
span{
   font-weight: bold;
}